.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wifiOff {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 100%;
  color: #d93e3ef0;
  z-index: 500;
  pointer-events: none;
}

.messageSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  align-items: start;
  top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
  left: 0;
  z-index: 1000;
  padding: 0.5rem;

  .messageCard {
    background: var(--color-1);
    color: var(--bg-color);
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    align-items: center;
    padding: 5px 10px;
    touch-action: none;

    svg {
      flex-shrink: 0;
    }
  }
}

.wrapper {
  position: relative;
  min-height: 0;
  flex-grow: 1;

  .pageContainer {
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
    contain: content;
    overflow: hidden;
    transform: scale(1.5);
  }
}

.loadingPage {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loadingIndicator {
    width: 90%;
    max-width: 300px;
    height: 2px;
    background: color-mix(in srgb, var(--color-1), transparent 80%);

    > div {
      height: 100%;
      width: 100%;
      background: var(--color-3);
      transform-origin: left;
    }
  }

  .loadingInfo {
    font-size: 0.85rem;
  }
}

.invalidAppVersion,
.noBackend,
.backendChanges {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: color-mix(in srgb, var(--color-1), var(--bg-color) 75%);
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #262626;

  .head {
    display: flex;
    gap: 10px;
    align-items: center;

    .triangleAlert {
      color: yellow;
    }
  }
}

.invalidAppVersion {
  .downloadBtn {
    line-height: 1;
    padding: 0.75rem;
    font-size: 0.9rem;
    border-radius: 10px;
    background: var(--color-2);
  }
}

.noBackend,
.backendChanges {
  h4 {
    margin-bottom: -0.5rem;
  }

  a {
    color: var(--color-1);
  }

  .bash1,
  .bash2,
  .bash3 {
    position: relative;
    font-size: 0.9rem;
    width: 100%;
    text-align: start;
    padding: 1rem;
    padding-top: 2rem;
    background: color-mix(in srgb, var(--bg-color), transparent 80%);

    .textType {
      position: absolute;
      top: 5px;
      left: 10px;
      color: var(--color-1);
      opacity: 0.25;
    }

    .copyBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      user-select: none;
      pointer-events: auto;

      > * {
        pointer-events: none;
      }
    }

    .text {
      opacity: 0.75;
    }
  }
}
