.container {
  background: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 0;
  flex-direction: column;
  overflow-y: auto;

  .videoWrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 250px;
  }

  .animeTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    position: sticky;
    padding-top: calc(var(--safe-top) + 0.5rem);
    top: 0;
    left: 0;
    background: var(--bg-color);
    z-index: 5;

    .backBtn {
      user-select: none;

      > * {
        display: block;
      }
    }

    .title {
      overflow: hidden;

      .wrapper {
        display: flex;
        text-wrap: nowrap;
        gap: 50px;
      }
    }
  }

  > .wrapper {
    padding: 1rem 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .episodeTitle {
      font-size: 1.25rem;
      font-family: 'Orbitron';
      font-weight: 600;
      line-height: 1.2;
    }

    .sypnosisContainer {
      padding: 1rem;
      background: color-mix(in srgb, var(--color-1), transparent 90%);
      border: 1px solid color-mix(in srgb, var(--color-1), transparent 85%);

      .head {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .sypnosis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .providerWrapper {
      margin-inline: auto;
      user-select: none;
      position: relative;
      display: flex;
      font-size: 0.8rem;
      align-items: center;

      > * {
        border: 1px solid color-mix(in srgb, var(--color-1), transparent 75%);
      }

      .provider,
      .videoType,
      .audio {
        line-height: 1;
        padding: 1rem;
      }

      .audio,
      .provider {
        border-right: none;
      }

      .dropdownWrapper {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        border: none;
        flex-direction: column;
        background: var(--bg-color);

        > * {
          overflow: hidden;

          div {
            padding: 0.5rem;
            border: 1px solid
              color-mix(in srgb, var(--color-1), transparent 75%);
            border-top: none;
            text-align: center;
          }
        }
      }
    }

    .countDown {
      margin-inline: auto;
    }

    .episodes {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      max-height: 350px;

      .episodeItem {
        overflow: hidden;
        height: 90px;
        background: color-mix(in srgb, var(--color-1), transparent 90%);
        border-radius: 5px;
        display: flex;
        flex-shrink: 0;

        img {
          border-radius: 5px;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }

        .wrapper {
          padding-block: 5px;
          padding-left: 10px;
          padding-right: 5px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .episodeTitle {
            font-size: 0.9rem;
            line-height: 1.1;
            flex: 1 0;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
          }

          .description {
            font-size: 0.8rem;
            line-height: 1;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            text-overflow: ellipse;
          }
        }
      }
    }
  }

  .safeBottom {
    height: var(--safe-bottom);
    flex-shrink: 0;
    width: 100%;
    background: var(--bg-color);
    position: sticky;
    bottom: 0;
    left: 0;
  }
}
